<section class="statistics">
    <h2 class="section-title">SAYILARLA ETÜ</h2>
    <div class="statistics-container">
        <div class="stat-item">
            <i class="fas fa-user-graduate"></i>
            <h2>5661</h2>
            <p>Öğrenci</p>
        </div>
        <div class="stat-item">
            <i class="fas fa-graduation-cap"></i>
            <h2>4848</h2>
            <p>Mezun</p>
        </div>
        <div class="stat-item">
            <i class="fas fa-chalkboard-teacher"></i>
            <h2>379</h2>
            <p>Akademik Personel</p>
        </div>
        <div class="stat-item">
            <i class="fas fa-users"></i>
            <h2>301</h2>
            <p>İdari Personel</p>
        </div>
        <div class="stat-item">
            <i class="fas fa-book-open"></i>
            <h2>44</h2>
            <p>Aktif Program</p>
        </div>
        <div class="stat-item">
            <i class="fas fa-book"></i>
            <h2>345.600</h2>
            <p>Kütüphane Kaynağı</p>
        </div>
    </div>
</section>