<div class="hero-slider">
    <div class="slider-container">
        <div class="slider-nav prev"></div>
        <div class="slider-nav next"></div>

  
        <div class="slider-content">
            <div class="carousel-slide active">
                <img src="https://erzurum.edu.tr/Content/duyuru/image/13adf4c3-51a3-4146-b74c-53496636e552.jpg"
                     alt="ETÜ Slider 1">
            </div>
            <div class="carousel-slide">
                <img src="https://erzurum.edu.tr/Content/duyuru/image/ba5b163b-4117-4c3d-9fa8-377bb5863b86.jpg"
                     alt="ETÜ Slider 2">
            </div>
        </div>
        
        <div class="slider-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
        </div>
    </div>

</div>