<nav class="main-nav">
    <div class="container">
        <div class="nav-wrapper">
            <div class="logo-area">
                <img src="https://erzurum.edu.tr/Content/images/A-1.png" alt="Akredite Logo" class="accreditation-logo">
                <a href="/" class="main-logo">
                    <img src="https://static.erzurum.edu.tr/favicons/favicon.png" alt="ETÜ Logo">
                    <div class="logo-text">
                        <span>Erzurum Teknik Üniversitesi</span>
                        @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                        {
                            <span class="faculty-name">@ViewBag.SubTitle</span>
                        }
                    </div>
                </a>
            </div>
            <div class="nav-links">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" data-bs-toggle="dropdown">Üniversitemiz</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-grid">
                            <div class="dropdown-column">
                                <h3>Rektörlük</h3>
                                <a href="/universitemiz/rektorun-mesaji" class="dropdown-item">Rektörün Mesajı</a>
                                <h3 class="mt-4">ETÜ Galeri</h3>
                                <a href="#" class="dropdown-item">Video Galerisi</a>
                                <a href="#" class="dropdown-item">Fotoğraf Galerisi</a>
                            </div>
                            <div class="dropdown-column">
                                <h3>Yönetim</h3>
                                <a href="/universitemiz/yonetim" class="dropdown-item">Yönetim</a>
                                <a href="/universitemiz/genel-sekreterlik" class="dropdown-item">Genel Sekreterlik</a>
                                <a href="/universitemiz/ozel-kalem" class="dropdown-item">Özel Kalem Müdürlüğü</a>
                                <a href="/universitemiz/ic-denetim" class="dropdown-item">İç Denetim</a>
                            </div>
                            <div class="dropdown-column">
                                <h3>Kurumsal</h3>
                                <a href="/universitemiz/kurumsal-kimlik" class="dropdown-item">Kurumsal Kimlik</a>
                                <a href="/universitemiz/vizyon-ve-misyon" class="dropdown-item">Vizyon ve Misyon</a>
                                <a href="/universitemiz/kvkk" class="dropdown-item">KVKK</a>
                                <a href="/universitemiz/stratejik-plan" class="dropdown-item">Stratejik Plan</a>
                                <a href="/universitemiz/tarihce" class="dropdown-item">Tarihçe</a>
                                <a href="/universitemiz/konum-ve-yerleske" class="dropdown-item">Konum ve Yerleşke</a>
                                <a href="https://kalite.erzurum.edu.tr" class="dropdown-item">Kalite Komisyonu</a>
                                <a href="/universitemiz/universite-logosu" class="dropdown-item">Üniversite Logosu</a>
                                <a href="https://konukevi.erzurum.edu.tr" class="dropdown-item">Konuk Evi</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" data-bs-toggle="dropdown">Öğrenci</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-grid">
                            <div class="dropdown-column">
                                <h3>Genel Bilgiler</h3>
                                <a href="#" class="dropdown-item">Üniversite Tanıtım</a>
                                <a href="#" class="dropdown-item">Üniversite Bilgi Yönetim Sistemi(ÜBYS)</a>
                                <a href="#" class="dropdown-item">Aday Öğrenci</a>
                                <a href="#" class="dropdown-item">Akademik Takvim</a>
                                <a href="#" class="dropdown-item">Yemek Listesi</a>
                                <a href="#" class="dropdown-item">Öğrenci İşleri Daire Başkanlığı</a>
                                <a href="#" class="dropdown-item">Kütüphane Daire Başkanlığı</a>
                                <a href="#" class="dropdown-item">Akıllı Kütüphane Sistemi</a>
                                <a href="#" class="dropdown-item">Ders Bilgi Paketleri</a>
                            </div>
                            <div class="dropdown-column">
                                <h3>Kampüste Yaşam</h3>
                                <a href="#" class="dropdown-item">Öğrenci Toplulukları</a>
                                <a href="#" class="dropdown-item">Kariyer Planlama, Uygulama ve Araştırma Merkezi
                                    (KARPAM)</a>
                                <a href="#" class="dropdown-item">Sağlık Kültür ve Spor</a>
                                <a href="#" class="dropdown-item">Engelli Öğrenci Birimi</a>
                                <a href="#" class="dropdown-item">Barınma</a>
                            </div>
                            <div class="dropdown-column">
                                <h3>Program, Kurs ve Diğer</h3>
                                <a href="#" class="dropdown-item">Lisans Programları</a>
                                <a href="#" class="dropdown-item">Yüksek Lisans Programları</a>
                                <a href="#" class="dropdown-item">Doktora Programları</a>
                                <a href="#" class="dropdown-item">Sürekli Eğitim Merkezi (ETÜSEM)</a>
                                <a href="#" class="dropdown-item">Dış İlişkiler Ofisi</a>
                                <a href="#" class="dropdown-item">Erasmus Değişim Programı</a>
                                <a href="#" class="dropdown-item">Farabi Değişim Programı</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" data-bs-toggle="dropdown">Akademik</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-grid">
                            <div class="dropdown-column">
                                <h3>Fakülteler</h3>
                                <a href="#" class="dropdown-item">Edebiyat Fakültesi</a>
                                <a href="#" class="dropdown-item">Fen Fakültesi</a>
                                <a href="#" class="dropdown-item">İktisadi ve İdari Bilimler Fakültesi</a>
                                <a href="#" class="dropdown-item">Mühendislik ve Mimarlık Fakültesi</a>
                                <a href="#" class="dropdown-item">Sağlık Bilimleri Fakültesi</a>
                                <a href="#" class="dropdown-item">Spor Bilimleri Fakültesi</a>
                            </div>
                            <div class="dropdown-column">
                                <h3>Enstitüler</h3>
                                <a href="#" class="dropdown-item">Fen Bilimleri Enstitüsü</a>
                                <a href="#" class="dropdown-item">Sağlık Bilimleri Enstitüsü</a>
                                <a href="#" class="dropdown-item">Sosyal Bilimler Enstitüsü</a>
                                <h3 class="mt-4">Yüksekokullar</h3>
                                <a href="#" class="dropdown-item">Yabancı Diller Yüksekokulu</a>
                            </div>
                            <div class="dropdown-column">
                                <h3 class="text-center" style="grid-column: span 2;">Koordinatörlükler</h3>
                                <div class="coordinators-grid">
                                    <div class="coordinators-column">
                                        <a href="#" class="dropdown-item">İş Sağlığı ve Güvenliği
                                            Koordinatörlüğü(İSG)</a>
                                        <a href="#" class="dropdown-item">E-Kampüs</a>
                                        <a href="#" class="dropdown-item">Dış İlişkiler Ofisi</a>
                                        <a href="#" class="dropdown-item">Kalite Koordinatörlüğü</a>
                                        <a href="#" class="dropdown-item">ETÜ Kristal</a>
                                        <a href="#" class="dropdown-item">Sürdürebilirlik ve Sıfır Atık</a>
                                    </div>
                                    <div class="coordinators-column">
                                        <a href="#" class="dropdown-item">Bilimsel Araştırma Projeleri (BAP)</a>
                                        <a href="#" class="dropdown-item">Toplumsal Katkı ve Eşitlik Politikaları
                                            Koordinatörlüğü</a>
                                        <a href="#" class="dropdown-item">Veri Yönetimi Koordinatörlüğü</a>
                                        <a href="#" class="dropdown-item">Spor Tesisleri Koordinatörlüğü</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" data-bs-toggle="dropdown">Araştırma</a>
                    <div class="dropdown-menu">
                        <h3 class="text-center mb-4">Araştırma Merkezleri</h3>
                        <div class="research-grid">
                            <a href="#" class="dropdown-item">Teknoloji Transferi Uygulama ve Araştırma Merkezi
                                (TTM)</a>
                            <a href="#" class="dropdown-item">Kadın Ve Aile Çalışmaları Uygulama Ve Araştırma Merkezi
                                (EKAUM)</a>
                            <a href="#" class="dropdown-item">Ekonomik ve Sosyal Araştırmalar Uygulama ve Araştırma
                                Merkezi (ESAM)</a>
                            <a href="#" class="dropdown-item">Türkçe Öğretimi Uygulama ve Araştırma Merkezi (TÖMER)</a>
                            <a href="#" class="dropdown-item">Yüksek Teknoloji Uygulama ve Araştırma Merkezi (YÜTAM)</a>
                            <a href="#" class="dropdown-item">YLSY Burs Programı Koordinatörlüğü (YLSY)</a>
                            <a href="#" class="dropdown-item">Bilimsel Araştırma Projeleri (BAP)</a>
                            <a href="#" class="dropdown-item">Psikoloji Uygulama Ve Araştırma Merkezi (PAM)</a>
                            <a href="#" class="dropdown-item">Kariyer Planlama, Uygulama ve Araştırma Merkezi
                                (KARPAM)</a>
                            <a href="#" class="dropdown-item">Sürekli Eğitim Uygulama Ve Araştırma Merkezi (ETÜSEM)</a>
                            <a href="#" class="dropdown-item">Uzaktan Eğitim Uygulama ve Araştırma Merkezi (UZEM)</a>
                            <a href="#" class="dropdown-item">Mucitpark STEM Uygulama ve Araştırma Merkezi</a>
                        </div>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" data-bs-toggle="dropdown">İdari</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-grid">
                            <div class="dropdown-column">
                                <h3>Genel Sekreterlik</h3>
                                <a href="#" class="dropdown-item">Genel Sekreterlik</a>
                                <a href="#" class="dropdown-item">Hukuk Müşavirliği</a>
                                <a href="#" class="dropdown-item">Kurumsal İletişim ve Tanıtım Direktörlüğü</a>
                                <a href="#" class="dropdown-item">Döner Sermaye İşletme Müdürlüğü</a>
                            </div>
                            <div class="dropdown-column">
                                <h3>Özel Kalem Müdürlüğü</h3>
                                <a href="#" class="dropdown-item">Özel Kalem Müdürlüğü</a>
                            </div>
                            <div class="dropdown-column">
                                <h3>Daire Başkanlıkları</h3>
                                <a href="#" class="dropdown-item">Bilgi İşlem</a>
                                <a href="#" class="dropdown-item">Kütüphane ve Dokümantasyon</a>
                                <a href="#" class="dropdown-item">Personel</a>
                                <a href="#" class="dropdown-item">Strateji Geliştirme</a>
                                <a href="#" class="dropdown-item">İdari ve Mali İşler</a>
                                <a href="#" class="dropdown-item">Öğrenci İşleri</a>
                                <a href="#" class="dropdown-item">Sağlık Kültür ve Spor</a>
                                <a href="#" class="dropdown-item">Yapı İşleri ve Teknik</a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="/iletisim" class="nav-link">İletişim</a>
                <button class="search-btn"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</nav>