<div class="top-bar">
    <div class="container">
        <div class="top-bar-left">
            <a href="https://instagram.com/etukurumsal" class="social-link"><i class="fab fa-instagram"></i></a>
            <a href="https://x.com/etukurumsal" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="https://linkedin.com/in/etukurumsal" class="social-link"><i class="fab fa-linkedin"></i></a>
            <a href="#" class="social-link"><i class="fab fa-youtube"></i></a>
            <span class="phone"><i class="fas fa-phone"></i>444 5 388</span>
        </div>
        <div class="top-bar-right">
            <a href="https://posta.erzurum.edu.tr" class="top-link"><i class="fas fa-envelope"></i>E-Posta</a>
            <a href="https://ubys.erzurum.edu.tr/sso" class="top-link"><i class="fas fa-graduation-cap"></i>ÜBYS</a>
            <a href="https://moodle.erzurum.edu.tr" class="top-link"><i class="fas fa-book"></i>Moodle</a>
            <a href="#" class="top-link"><i class="fas fa-calendar"></i>Akademik Takvim</a>
            <a href="https://servis.erzurum.edu.tr/" class="top-link"><i class="fas fa-cog"></i>E-Hizmetler</a>
            <a href="#" class="top-link"><i class="fas fa-link"></i>Bağlantılar</a>
            <a href="https://tanitim.erzurum.edu.tr/" class="top-link"><i class="fas fa-user-graduate"></i>Aday Öğrenci</a>
            <a href="#" class="top-link language"><i class="fas fa-globe"></i>English</a>
        </div>
    </div>
</div>